{% extends 'base.html.twig' %}

{%  block body %}
morse
{{ form(form) }}

    <div id="morse"></div>
    <div id="responses"></div>
{% endblock%}

{% block javascripts %}
<script src="{{ asset('js/morse/qcm.js') }}"></script>
{% endblock %}
